@import "../base/colors";
@import "../utils/mixins";

.kasa-propos {
    width: 100%;
    height: auto;
      & .kasa-banner {
        box-shadow:none;  
      }
  }
   

  .kasa-propos-valeurs{
    @include colonne;
    justify-content: center;
    margin-top: 40px;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    gap:30px;
  
  }

  @media only screen and (max-width: 600px) {
    
    .kasa-propos-valeurs{
      margin-top: 20px;
      margin-left: 4%;
      margin-right: 4%;
      margin-bottom: 20px;
      gap:20px;
  }
  
}
