@import "../base/colors";
@import "../utils/mixins";

.kasa-logement-caroussel{
    @include rang;  
    height:415px;
    background-color: $color-quatre;
    border-radius: 20px;
    justify-content: space-around;
    width: auto;
    object-fit: cover;
    position: relative;
  }
  
  .kasa-log{
    width:100%;
    height:100%;
    border-radius: 20px;
  }
  .kasa-arrow-left{
    cursor:pointer;
    position: absolute;
    left:2px;
    top:160px;
       
  }
  .kasa-arrow-right{
    cursor:pointer;
    position: absolute;
    right:2px;
    top:160px;
    
  }
  .carrousel-compteur{
    position:absolute;
    right:49%;
    bottom: 10px;
    color:$color-un;
  }
  @media only screen and (max-width: 600px) {
    .kasa-logement-caroussel{
      max-height: 255px;  
      width:100%;
      border-radius: 10px;
    }
    .kasa-log{
      max-height: 255px;
      border-radius: 10px;
    }
    .kasa-arrow-left{
      width:34px;
      top:110px;
    }
    .kasa-arrow-right{
      width:34px;
      top:110px;
      
    }
    .carrousel-compteur{
      display: none;
      
    }
  }