@import "../base/colors";
@import "../utils/mixins";

.kasa-logement-caroussel{
    display: flex;
    align-items: center;
    @include rang;  
    height:415px;
    background-color: $color-quatre;
    border-radius: 20px;
    justify-content: space-around;
    width: auto;
    object-fit: cover
  }
  
  .kasa-log{
    width:100%;
    height:100%;
    border-radius: 20px;
  }
  .kasa-arrow-left{
    position: absolute;
    left:7%;
  }
  .kasa-arrow-right{
    position: absolute;
    right:7%;
    
  }
  .carrousel-compteur{
    position:absolute;
    right:48%;
    top: 40%;
    color:$color-un;
  }