@import "../base/colors";
@import "../utils/mixins";



/* Mainhome ----------------------------------- */
.kasa-main-grid {
  @include marge;
  display: flex;
  margin-top: 40px;
  background-color: $color-quatre;
  border-radius: 25px;

}

@media only screen and (max-width: 600px) {

  .kasa-main {
    margin:0;
  }
  
  .kasa-main-grid {
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
  }
 
}
@media only screen and (max-width: 390px) {
  .kasa-main-grid { 
  margin-left: 4%;
  margin-right: 4%;
}}
