@mixin marge {
    margin-left: 7%;
    margin-right: 7%;
  }

@mixin typo {
    font-family: Montserrat;
}

@mixin rang {
    display:flex;
    flex-direction:row;
    align-items: center;
}
@mixin colonne {
    display:flex;
    flex-direction:column;
    align-items: center;
}