@import "colors";
@import "mixins";

#kasa-val2 {
  display: flex;
  justify-content: space-between;
  
}

.kasa-val{
  width: 100%;
 
     }

.kasa-valderoulant{
    @include typo;
    @include rang;
    justify-content: space-between;
    background-color: $color-trois;
    font-weight: bold;
    color: $color-un;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px; 
    height: 52px;
  }

  #kasa-val2 .kasa-log-valeurs .kasa-valderoulant{
    justify-content: space-between;
    width:80%
  
  }
  .collapse-text{
    list-style-type: none;
    
  }