@import "colors";
@import "mixins";

.kasa-nav {
    display: flex;
    height: 150px;
    align-items: center;
    @include marge;
    justify-content: space-between;
}
  
    .kasa-nav-titre {
    display: flex;
    width: 70%;
    height: 68px;
  }
  .kasa-nav-lien {
    display: flex;
    max-width: 450px;
    width: 25%;
    min-width: 233px;
    align-items: end;
    @include typo;
    font-size: 24px;
    justify-content: space-between;
    text-align: end;
    gap: 10%
  }
 
  .nav {
    width:136px;
    min-width: 108px;
    height: 34px;
    color: $color-deux;
    text-decoration: none;
  }
  .nav:hover {
    text-decoration:underline;
  }